@import "tailwindcss";

/* Custom dark scrollbar */
.chat-scroll::-webkit-scrollbar {
  width: 8px;
}

.chat-scroll::-webkit-scrollbar-track {
  background: #181818; /* matches sidebar bg */
  border-radius: 4px;
}

.chat-scroll::-webkit-scrollbar-thumb {
  background-color: #303030; /* dark thumb */
  border-radius: 4px;
  border: 2px solid #181818; /* padding for thumb */
}

.chat-scroll::-webkit-scrollbar-thumb:hover {
  background-color: #555555; /* hover highlight */
}
